body {
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #decaca, rgb(47, 95, 35), #e7e71e93);
    background-size: 400% 400%;
    animation: gradientBG 10s ease infinite;
    direction: rtl;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.form-control {
    border-radius: 10px;
}

:hover .form-control {
    box-shadow: 0px 0px 30px 0px rgb(0, 34, 255);
    transition: 0.5s;
}

.delete-icon {
    cursor: pointer;
    color: #dc3545;
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.delete-icon:hover {
    color: #a71d2a;
}

.container {
    width: 100%;
    margin: 20px auto;
    background: linear-gradient(135deg, rgb(88, 98, 246), #de3a3a, #5ebc4d);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px red;
}

h1, h2 {
    color: #343a40;
}

.table img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.absent-5 {
    background-color: #ffc107 !important;
}

.absent-8 {
    background-color: #dc3545 !important;
    color: white !important;
}

.btn:hover {
    box-shadow: 0px 0px 20px 0px red;
    transform: scale(0.8);
}

.imgt {
    width: 340px;
    height: 200px;
    position: relative;
    right: 250px;
    bottom: 80px;
}

.text-center {
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: rgba(0, 0, 0, 0.5) !important;
    width: 700px;
    margin-right: 150px;
    border-radius: 10px;
}

/* Media Queries بۆ مۆبایل */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .imgt {
        width: 100%;
        height: auto;
        right: 0;
        bottom: 0;
    }

    .text-center {
        width: 100%;
        margin-right: 0;
    }

    .table img {
        width: 30px;
        height: 30px;
    }
}